name: vps_capture
description: Gymnastics competition video capture tool for desktop.
publish_to: none
version: 1.0.0+1

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_riverpod: ^2.5.1
  file_picker: ^8.0.0+1
  path: ^1.9.0
  path_provider: ^2.1.3
  shared_preferences: ^2.2.3
  intl: ^0.19.0
  dio: ^5.4.3+1
  archive: ^3.6.1
  url_launcher: ^6.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.2

flutter:
  uses-material-design: true
